h1{
    
    color: hotpink;
    font-size;50px;
    font-family;shape-inside;
    text-align;caret-color: antiquewhite;
    
}
h2{
  color: yellow;
font-family;shape-margin;
 text-align: right;
 
    
    
}
h3{
    
    font-family: cursive;
}
table{
    
    font-family: cursive;
    border-collapse: collapse;
    background-color:chocolate;

    
    
}

p{
    
    font-weight: 100;
    text-decoration: line-through
}
th{font font-weight: 600;
    background-color:aquamarine;
    color: black
    
    
    
}